---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="header-section">
		<h1 class="site-title">About</h1>
		<p class="intro">
			This is where the about stuff will live.
		</p>
	</section>
</Layout>

<style>
	.header-section {
		text-align: center;
		color: var(--color-text-secondary);
	}
	.site-title {
		font-size: var(--font-size-h2);
	}
</style>
