---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="header-section">
		<h1 class="site-title">Blog</h1>
		<p class="intro">
			This is where the blog will live.
		</p>
	</section>
</Layout>

<style>
	.header-section {
		text-align: center;
		padding: 4rem 2rem;
		max-width: 700px;
		margin: 0 auto;
		font-family: var(--default-font);
		color: var(--color-primary-text);
	}
	.site-title {
		font-size: 3rem;
		font-weight: 500;
	}
</style>
