---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="header-section">
		<h1 class="site-title">Bill Makes Food</h1>
		<p class="tagline">Joy in habitual home cooking</p>
		<p class="intro">
			I've gradually developed a lifestyle I call "cooking by default".
			This is where I share what I've learned.
			Maybe you'll find it helpful, even if you don't (yet) love to cook.
		</p>
	</section>
	<section class="home-page-content">		
		<div class="blog-grid">
			<div class="blog-preview">
				blog preview 1
			</div>
			<div class="blog-preview">
				blog preview 2
			</div>
			<div class="blog-preview">
				blog preview 3
			</div>
		</div>
		<div class="recipe-grid">
			<div class="recipe-preview">
				recipe preview 1
			</div>
			<div class="recipe-preview">
				recipe preview 2
			</div>
			<div class="recipe-preview">
				recipe preview 3
			</div>
		</div>
	</section>
</Layout>

<style>
	.header-section {
		color: var(--color-text-primary);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.site-title {
		font-size: var(--font-size-h2);
		font-weight: 500;
		color: var(--color-text-secondary);
		margin: 0;
	}
	.tagline {
		color: var(--color-text-tertiary);
		font-size: var(--font-size-h5);
		margin: 1rem 0 0;
	}
	.intro {
		margin-top: 3rem;
		max-width: 70ch;
	}
	.home-page-content {
		margin-top: 6rem;
	}
	.blog-grid, .recipe-grid {
		padding: 2rem;
		border-top: .1rem solid var(--color-border);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
	.blog-preview, .recipe-preview {
		min-height: 20rem;
		border: .1rem solid var(--color-border-stronger);
		text-align: center;
	}
</style>
