---
import { Font } from "astro:assets";
const pathname = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Bill Makes Food</title>
		<Font cssVariable="--font-montserrat" />
	</head>
	<body>
		<header class="site-header">
			<div class="home-link-container">
				<!-- logo will go here -->
				<a
					class="home-link"
					href="/"
					aria-current={pathname === "/" ? "page" : undefined}>
					Bill Makes Food
				</a>
			</div>
			<nav class="site-nav">
				<ul class="nav-list">
					<li class="nav-list-item">
						<a
							class="nav-link"
							href="/blog"
							aria-current={pathname === "/blog" ? "page" : undefined}>
							Blog
						</a>
					</li>
					<li class="nav-list-item">
						<a
							class="nav-link"
							href="/recipes"
							aria-current={pathname === "/recipes" ? "page" : undefined}>
							Recipes
						</a>
					</li>
					<li class="nav-list-item">
						<a
							class="nav-link"
							href="/about"
							aria-current={pathname === "/about" ? "page" : undefined}>
							About
						</a>
					</li>
					<li class="nav-list-item">
						<a
							class="nav-link"
							href="/contact"
							aria-current={pathname === "/contact" ? "page" : undefined}>
							Contact
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<slot />
	</body>
</html>

<style>
	:root {
		--default-font: var(--font-montserrat), sans-serif;
		--color-sage: #6d7a66;
		--color-honeydew: #f0fff0;
		--color-primary-text: var(--color-sage);
		--color-background: var(--color-honeydew);
		font-family: var(--default-font);
		background-color: var(--color-background);
	}
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.site-header {
		display: flex;
		justify-content: space-between;
		padding: 2rem;
		align-items: center;
	}
	.home-link, .nav-link {
		color: var(--color-primary-text);
		text-decoration: none;
	}
	.home-link:hover, .nav-link:hover {
		color: color-mix(in srgb, var(--color-primary-text) 65%, transparent);
	}
	.nav-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		gap: 3rem;
	}
</style>
