---
import { Font } from "astro:assets";
const pathname = Astro.url.pathname;
const navLinks = [
	{href: '/blog', label: 'Blog'},
	{href: '/recipes', label: 'Recipes'},
	{href: '/about', label: 'About'},
	{href: '/contact', label: 'Contact'},
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Bill Makes Food</title>
		<Font cssVariable="--font-montserrat" />
	</head>
	<body>
		<header class="site-header">
			<div class="home-link-container">
				<!-- logo will go here -->
				<a
					class="home-link"
					href="/"
					aria-current={pathname === "/" ? "page" : undefined}>
					Bill Makes Food
				</a>
			</div>
			<nav class="site-nav">
				<ul class="nav-list">
					{navLinks.map((link) => (
						<li class="nav-list-item">
							<a
								class="nav-link"
								href={link.href}
								aria-current={pathname === link.href ? "page" : undefined}>
								{link.label}
							</a>
						</li>
					))}
				</ul>
			</nav>
		</header>
		<div class="content-wrapper">
			<slot />
		</div>
		<footer>
			<div class="footer-wrapper">
				<p class="copyright">
					© {new Date().getFullYear()} Bill Makes Food. All rights reserved.
				</p>
				<p class="additional-footer-content">
					Additional things I want to say in the footer go here.
				</p>
			</div>
		</footer>
	</body>
</html>

<style>
	:root {
		--default-font: var(--font-montserrat), sans-serif;
		--color-sage: #6d7a66;
		--color-honeydew: #f0fff0;
		--color-primary-text: var(--color-sage);
		--color-background: var(--color-honeydew);
		font-family: var(--default-font);
		background-color: var(--color-background);
		color: var(--color-primary-text);
	}
	body {
		margin: 0;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	.site-header {
		display: flex;
		justify-content: space-between;
		padding: 2rem;
		align-items: center;
	}
	.home-link, .nav-link {
		color: var(--color-primary-text);
		text-decoration: none;
	}
	.home-link:hover, .nav-link:hover {
		color: color-mix(in srgb, var(--color-primary-text) 65%, transparent);
	}
	.nav-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		gap: 3rem;
	}
	.content-wrapper {
		flex: 1;
	}
	.footer-wrapper {
		padding: 2rem 1rem 5rem 3rem;
		font-size: 80%;
	}
	.copyright {
		margin: 0;
	}
	.additional-footer-content {
		margin: 0;
	}
</style>
